@charset "utf-8";
#navigation {
	font-family: Arial;
	font-size: medium;
	color: #000000;
	background-color: #399EBC;
	height: 20px;
	border: medium solid #2360E8;
	overflow-x: hidden;
	border-radius: 5px;
	overflow-y: hidden;
	}
